body {
    margin: 0;
}

.post-wrapper {
    width: 100%;
    height: 80vh;
    position: relative;
    background-image: url(./static/images/home.jpg);
    background-position: bottom;
    background-size: cover;
    padding-top: 1px;
}

.post-image{
    width:100%;
    height: auto;
}


.author {
    width: 600px;
    height: 120px;
    position: absolute;
    left: 0px;
    bottom: -60px;
    
}


.author-image{
    width: 120px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    /* margin-bottom: 50%; */
    transition: all 0.5s ease;
}

@media (min-width: 600px) { 
    .author-image {
        width: 200px;
        bottom: 20px;
        left: 80px;
    }
}

.name{
    font-family: 'Axure Handwriting';
    font-size: 28px;
    color:rgb(248,206,134);
    margin-left:300px;
    margin-top:12px;

}

.navigation-bar{
    font-family: Arial;
    text-align: right;
    color:white;
    font-size:18px;
    margin-top:16px;  
    margin-right: 24px;
}

.navigation-bar > span {
    display: inline-block;
    margin: 0px 10px;
}

.about-wrapper{
    width: 100%;
    height: 80vh;
    position: relative;
    background-position: bottom;
    background-size: cover;
    padding-top: 1px;
}

.yellow1-image{
    /* transform: rotate(90deg); */
     width:240px;
     height: 550px;
    position: absolute;
     top:50px;
     right: 10px;
     z-index: 0;
    

}



.about-image{
    width:300px;
    height:460px;
    position: absolute;
    right: 100px;
    top: 100px;
   z-index: 1;
}


.left {
    height: 460px;
    width: calc(100vw - 600px);
    position: relative;
    margin-top: 100px;
    margin-left: 80px;
}

.line-a {
    position: absolute;
    top: -10px;
    left: 0px;
    background-color: blue;
    height: 200px;
    width: 2px;
    z-index: 1;
}


.line-b {
    position: absolute;
    top: 0px;
    left: -10px;
    background-color: yellow;
    height: 2px;
    width: 200px;
}

.line-c {
    position: absolute;
    bottom: -10px;
    right: 0px;
    background-color: blue;
    height: 200px;
    width: 2px;
    z-index: 1;
}

.line-d {
    position: absolute;
    bottom: 0px;
    right: -10px;
    background-color: yellow;
    height: 2px;
    width: 200px;
}

.work-wrapper{
    width: 100%;
    height: 80vh;
    position: relative;
    background-position: bottom;
    background-size: cover;
    padding-top: 1px;
}

.right{
    height: 350px;
    width: calc(100vw - 800px);
    position: relative;
    margin-top: 200px;
    margin-left:700px;

}

.work-image{
    width:450px;
    height: 265px;
    z-index: 1;
    position: absolute;
    left: 50px;
    top: 200px;
 

}

.yellow2-image{
    /* transform: rotate(90deg); */
    width:550px;
    height: 250px;
    position: absolute;
    /* top:50px;
    right: 10px; */
    z-index: 0;
    margin-top: 300px;
    margin-left: 0px;
   

}