a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color:inherit;
}

body {
    margin: 0;
}
p{
    padding: 0;
   
}
.home-wrapper {
    width: 100%;
    height: 70vh;
    position: relative;
    background-image: url(./static/images/home.jpg);
    background-position: bottom;
    background-size: cover;
    padding-top: 1px;
}

.post-image{
    width:100%;
    height: auto;
}


.author {
    width: 520px;
    height: 130px;
    position: absolute;
    left: 0px;
    bottom: -130px;
    
}


.author-image{
    width: 120px;
    position: absolute;
    left: 20px;
    bottom: 50px;
    transition: all 0.5s ease;
    border-radius: 50%;
    
}

@media (min-width: 600px) { 
    .author-image {
        width: 200px;
        bottom: 25px;
        left: 80px;
        position: absolute;
        transition: all 0.5s ease;
        border-radius: 50%;
       
    }
}

.name1{
    font-family: 'Raleway';
    font-size: 32px;
    color:#363636;
    margin-left:320px;
    font-weight: Bold;
    line-height: 100%;
    margin-top:-30px;

}

.name2{
    font-family:'Microsoft Yahei';
    font-size: 16px;
    color:#6B6B6B;
    margin-left:320px;
    /* margin-top:16px; */
}

ul {
    font-family: Arial;
    text-align: right;
    color:white;
    font-size:18px;
    margin-top:16px;  
    margin-right: 24px;

}
li {
	float:right;
	position:relative;
	padding:10px;
	line-height:1;
	transition:0.2s all linear;
	list-style:none;
	cursor:pointer;
}
li::before {
	content:"";
	position:absolute;
  	top:0;
	right:100%;
	width:0;
	height:100%;
	border-bottom:3px solid rgb(248,206,134);
	transition:0.2s all linear;
}
li:hover::before {
	width:100%;
	top:0;
	right:0;
	transition-delay:0.1s;
	/*过渡延迟*/
	border-bottom-color:rgb(248,206,134);
}
li:hover ~ li::before {
	right:0;
}
li:active {	background:rgb(248,206,134);
	color:#fff;
}

.about-wrapper{
    width: 100%;
    height: 80vh;
    position: relative;
    margin-top: 120px;
    background-position: bottom;
    background-size: cover;
    padding-top: 1px;
}

.yellow1-image{
    /* transform: rotate(90deg); */
     width:240px;
     height: 550px;
    position: absolute;
     top:50px;
     right: 10px;
     z-index: 0;
    

}



.about-image{
    width:300px;
    height:460px;
    position: absolute;
    right: 100px;
    top: 100px;
   z-index: 1;
}


.left {
    height: 460px;
    width: calc(100vw - 600px);
    position: relative;
    margin-top: 40px;
    margin-left: 80px;
    border-top: 1px solid transparent
}

.line-a {
    position: absolute;
    top: -10px;
    left: 0px;
    background-color: blue;
    height: 200px;
    width: 2px;
    z-index: 1;
}


.line-b {
    position: absolute;
    top: 0px;
    left: -10px;
    background-color: yellow;
    height: 2px;
    width: 200px;
}

.line-c {
    position: absolute;
    bottom: -10px;
    right: 0px;
    background-color: blue;
    height: 200px;
    width: 2px;
    z-index: 1;
}

.line-d {
    position: absolute;
    bottom: 0px;
    right: -10px;
    background-color: yellow;
    height: 2px;
    width: 200px;
}

.experience-wrapper{
    width: 100%;
    height: 100vh;
    /* margin-top:80px; */
    position: relative;
    background-position: bottom;
    background-size: cover;
    padding-top: 1px;
}

.right{
    height: 350px;
    width: calc(100vw - 800px);
    position: relative;
    margin-top: 100px;
    margin-left:700px;
    border-top: 1px solid transparent;

}

.work-image{
    width:450px;
    height: 265px;
    z-index: 1;
    position: absolute;
    left: 50px;
    top: 250px;
 

}

.yellow2-image{
    /* transform: rotate(90deg); */
    width:550px;
    height: 250px;
    position: absolute;
    /* top:50px;
    right: 10px; */
    z-index: 0;
    margin-top: 250px;
    margin-left: 0px;
   

}


.text-wrapper {
    width: calc(100vw - 600px);
    font-family: 'Rubik';
    text-align: center;
    margin-top: 80px;
    flex-direction: row;
    justify-content: space-around;
    line-height: 26px;
    font-size: 18px;
    white-space: prewrap;
}


.year{
    height: 400px;
    color:#0066CC;
    font-size: 26px;
    font-family: 'Rubik';
    margin-left: 46px;
    margin-top: 10px;
    width:calc(100vw - 800px);
    line-height: 50px;
}

.project-wrapper{
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: bottom;
    background-size: cover;
    padding-top: 1px;


}

.title-image{
  
    display:flex;
    justify-content:space-around; 
    align-items: center
}

.popsicles-img{
    width:445px;
    height: 700px;
    margin-top: -200px;
    margin-left:1100px;
}

.contact-wrapper{
    width: 100%;
    height: 80vh;
    position: relative;
    background-position: bottom;
    background-size: cover;
    padding-top: 1px;
    margin-top: 400px;
}
.contact-text{
    display:flex;
    justify-content:space-around; 
    align-items: center;
    font-size: 38px;
    font-family: 'Roboto';
}
.about-text{
    font-size: 38px;
    width: calc(100vw - 450px);
    /* margin-top: 60px; */
    text-align: center;
    font-family: 'Roboto';
}
.experience-text{
    font-size: 38px;
    width:calc(100vw - 800px);
    margin-top: 100px;
    margin-left: 1000px;
    font-family: 'Roboto';
}
.contact-pic{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 120px;
    letter-spacing: 160px;
}

.end-img{
    width:100%;
    height: 180px;
    background: rgb(255,214,68);
    margin-top: 200px;
 
}

.end-text{
    font-size: 22px;
    font-family: 'Rubik';
    text-align: center;
    margin-top: -100px;
}


.post-1{
    width: 100%;
    line-height: 100px;
    margin-left: 120px;
    margin-top: 100px;
    letter-spacing: 30px;
}


.post-2{
    width: 100%;
    line-height: 100px;
    margin-left: 120px;
    letter-spacing: 30px;
 
}

.container1{
    position: relative;
    overflow: hidden;
    width: 100vh;
    height: 50vh;
    background-image:  url(./static/images/post_1.png);
    background-size: cover;
    display: inline-block;
}

.container1 > .decoration {
   
    position: absolute;
    background-color: rgb(255,185,1);;
    height: 1200px;
    width: 1200px;
    transform: rotate(45deg) translate(800px, -1000px);
    transition: all 0.5s ease;
 
}

.container1:hover > .decoration {
    transform: rotate(45deg) translate(-300px, 10px);
}

.text1 {
    position: absolute;
    text-align: center;
    transition: all 0.5s ease;
    opacity: 0;
    font-size: 26px;
    font-family: 'Rubik';
    color: #fff;
    letter-spacing: 0px;
    line-height: 50px;
    margin-top: 12vh;
    margin-left: 20vh;
}

.container1:hover > .text1 {
    opacity: 1;
}

.container2{
    position: relative;
    overflow: hidden;
    width: 55vh;
    height: 50vh;
    background-image:  url(./static/images/post_2.png);
    background-position: bottom;
    background-size: cover;
    display: inline-block;
}

.container2 > .decoration {
   
    position: absolute;
    background-color: rgb(255,185,1);;
    height: 1200px;
    width: 1200px;
    transform: rotate(45deg) translate(800px, -1000px);
    transition: all 0.5s ease;
 
}

.container2:hover > .decoration {
    transform: rotate(45deg) translate(-300px, 10px);
}

.text2 {
    position: absolute;
    text-align: center;
    transition: all 0.5s ease;
    opacity: 0;
    font-size: 28px;
    font-family: 'Rubik';
    color: #fff;
    letter-spacing: 0px;
    line-height: 50px;
    margin-top: 15vh;
    margin-left: 8vh;
}

.container2:hover > .text2 {
    opacity: 1;
}

.container3{
    position: relative;
    overflow: hidden;
    width: 55vh;
    height: 50vh;
    background-image:  url(./static/images/post_3.png);
    background-position: bottom;
    background-size: cover;
    display: inline-block;
}

.container3 > .decoration {
   
    position: absolute;
    background-color: rgb(255,185,1);
    height: 1200px;
    width: 1200px;
    transform: rotate(45deg) translate(800px, -1000px);
    transition: all 0.5s ease;
 
}

.container3:hover > .decoration {
    transform: rotate(45deg) translate(-300px, 10px);
}

.text3 {
    position: absolute;
    text-align: center;
    transition: all 0.5s ease;
    opacity: 0;
    font-size: 32px;
    font-family: 'Rubik';
    color: #fff;
    letter-spacing: 0px;
    line-height: 50px;
    margin-top: 17vh;
    margin-left: 15vh;
}

.container3:hover > .text3 {
    opacity: 1;
}

.container4{
    position: relative;
    overflow: hidden;
    width: 100vh;
    height: 50vh;
    background-image:  url(./static/images/post_4.png);
    background-position: bottom;
    background-size: cover;
    display: inline-block;
}

.container4 > .decoration {
   
    position: absolute;
    background-color: rgb(255,185,1);;
    height: 1200px;
    width: 1200px;
    transform: rotate(45deg) translate(800px, -1000px);
    transition: all 0.5s ease;
 
}

.container4:hover > .decoration {
    transform: rotate(45deg) translate(-300px, 10px);
}

.text4 {
    position: absolute;
    text-align: center;
    transition: all 0.5s ease;
    opacity: 0;
    font-size: 30px;
    font-family: 'Rubik';
    color: #fff;
    letter-spacing: 0px;
    line-height: 50px;
    margin-top: 18vh;
    margin-left: 28vh;
}

.container4:hover > .text4 {
    opacity: 1;
}