a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color:inherit;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
}
p{
    padding: 0;
   
}
.home-wrapper {
    width: 100%;
    height: 70vh;
    position: relative;
    background-image: url(./static/images/home.jpg);
    background-position: bottom;
    background-size: cover;
    padding-top: 1px;
}

.fixed.home-wrapper > .navigation {
    width: 100%;
    top: 0px;
    position: fixed;
    height: 64px;
    z-index: 200;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.fixed.home-wrapper > .navigation li {
    color: #363636;
}

.post-image{
    width:100%;
    height: auto;
}


.author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 520px;
    height: 200px;
    position: absolute;
    left: 40px;
    bottom: -100px;
}

.author::before {
    content: ' ';
    width: 60px;
    height: 1px;
    position: absolute;
    bottom: 100px;
    left: -40px;
    display: block;
    background-color: #003300;
}

.author::after {
    content: ' ';
    width: calc(100vw - 420px);
    height: 1px;
    position: absolute;
    bottom: 100px;
    left: 420px;
    display: block;
    background-color: #003300;
}


.author-image{
    flex-shrink: 0;
    height: auto;
    margin-left: 20px;
    width: 150px;
    transition: all 0.5s ease;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.name1{
    font-family: 'Raleway';
    font-size: 32px;
    color:#363636;
    font-weight: Bold;
    line-height: 100%;
}

.name2{
    margin-top: 4px;
    font-family:'Microsoft Yahei';
    font-size: 16px;
    color:#6B6B6B;
    /* margin-top:16px; */
}

ul {
    font-family: Arial;
    text-align: right;
    color:white;
    font-size:18px;
    margin-top:16px;  
    margin-right: 24px;

}
li {
	float:right;
	position:relative;
	padding:10px;
	line-height:1;
	transition:0.2s all linear;
	list-style:none;
	cursor:pointer;
}
li::before {
	content:"";
	position:absolute;
  	top:0;
	right:100%;
	width:0;
	height:100%;
	border-bottom:3px solid rgb(248,206,134);
	transition:0.2s all linear;
}
li:hover::before, li.active::before {
	width:100%;
	top:0;
	right:0;
	transition-delay:0.1s;
	/*过渡延迟*/
	border-bottom-color:rgb(248,206,134);
}
li:hover ~ li::before {
	right:0;
}
li:active {	background:rgb(248,206,134);
	color:#fff;
}

.about-wrapper{
    width: 100%;
    height: 80vh;
    position: relative;
    margin-top: 120px;
    background-position: bottom;
    background-size: cover;
    padding-top: 1px;
}

.yellow1-image{
    /* transform: rotate(90deg); */
     width:240px;
     height: 550px;
    position: absolute;
     top:50px;
     right: 10px;
     z-index: 0;
    

}



.about-image{
    width:300px;
    height:460px;
    position: absolute;
    right: 100px;
    top: 100px;
   z-index: 1;
   opacity: 0;
}

.about-image.animated {
    opacity: 1;
}


.left {
    height: 460px;
    width: calc(100vw - 600px);
    position: relative;
    margin-top: 60px;
    margin-left: 80px;
    border-top: 1px solid transparent
}

.line-a {
    position: absolute;
    top: -10px;
    left: 0px;
    background-color: blue;
    height: 200px;
    width: 2px;
    z-index: 1;
}


.line-b {
    position: absolute;
    top: 0px;
    left: -10px;
    background-color: yellow;
    height: 2px;
    width: 200px;
}

.line-c {
    position: absolute;
    bottom: -10px;
    right: 0px;
    background-color: blue;
    height: 200px;
    width: 2px;
    z-index: 1;
}

.line-d {
    position: absolute;
    bottom: 0px;
    right: -10px;
    background-color: yellow;
    height: 2px;
    width: 200px;
}

.experience-wrapper{
    width: 100%;
    height: 80vh;
    /* margin-top:80px; */
    position: relative;
    background-position: bottom;
    background-size: cover;
    padding-top: 1px;
}

.right{
    height: auto;
    width: calc(100vw - 700px);
    position: relative;
    margin-top: 180px;
    margin-left:640px;
    border-top: 1px solid transparent;

}

.work-image{
    width:450px;
    height: auto;
    z-index: 1;
    position: absolute;
    left: 50px;
    top: 230px;
    opacity: 0;
}

.work-image.animated {
    opacity: 1;
}

.yellow2-image{
    /* transform: rotate(90deg); */
    width:550px;
    height: 250px;
    position: absolute;
    /* top:50px;
    right: 10px; */
    z-index: 0;
    top: 320px;
    left: 10px;
}


.text-wrapper {
    /* width: calc(100vw - 600px); */
    margin-left: 25%;
    width: 50%;
    line-height: 26px;
    font-family: 'Rubik';
    text-align: center;
    margin-top: 80px;
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* line-height: 26px; */
    font-size: 18px; 
    color: #363636; 
}

.text-wrapper > div {
    width: 100%;
    margin-top: 22px;
}

.experience-text-block {
    display: inline-block;
    color:#333333;
    font-size: 18px;
    padding-left:30px;
}

.year-block {
    color:#0066CC;
    display: inline-block;
    width: 60px;
}


.year{
    height: 400px;
    font-size: 26px;
    font-family: 'Rubik';
    margin-left: 46px;
    margin-top: 30px;
    width:calc(100vw - 800px);
    line-height: 50px;
}

.year > div {
    display: flex;
}

.project-wrapper{
    width: 100%;
    position: relative;
    background-position: bottom;
    background-size: cover;
    padding-top: 1px;
}

.title-image{
    transform: translateY(-30px);
    display:flex;
    justify-content:space-around; 
    align-items: center;
    position: relative;
}

.popsicles-img{
    position: absolute;
    width:445px;
    height: 700px;
    top: -450px;
    right: -150px;
    z-index: -1;
}

.contact-wrapper{
    width: 100%;
    height: 60vh;
    position: relative;
    background-position: bottom;
    background-size: cover;
    padding-top: 1px;
    margin-top: 100px;
}
.contact-text{
    display:flex;
    justify-content:space-around; 
    align-items: center;
    font-size: 38px;
    font-family: 'Roboto';
}
.about-text{
    font-size: 38px;
    width: calc(100vw - 450px);
    /* margin-top: 60px; */
    text-align: center;
    font-family: 'Roboto';
    position: relative;;
}
.about-text::after, .experience-text::after, .title-image::after{
    content: ' ';
    position: absolute;
    bottom: -16px;
    height: 1px;
    background-color: #ccc;
    width: 42%;
    left: 29%;
}
.experience-text::after {
    width: 56%;
    left: 22%;
}

.title-image::after{
    width: 30%;
    left: 35%;
}


.experience-text{
    position: absolute;
    top: -100px;
    left: 0;
    font-size: 38px;
    width: 100%;
    /* margin-top: 100px; */
    text-align: center;
    font-family: 'Roboto';
}
.contact-pic{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 120px;
    letter-spacing: 160px;
}

.contact-pic img {
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
}

.contact-pic img:hover {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
}

.end-img{
    position: relative;
    width:100%;
    height: 180px;
    background: rgb(255,214,68);
    margin-top: 200px;
    line-height: 180px;
}

.end-text{
    font-size: 22px;
    font-family: 'Rubik';
    text-align: center;
    /* margin-top: -100px; */
}



.post{
    /* width: 100%; */
    line-height: 100px;
    /* margin-left: 120px; */
    margin-top: 32px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-around;
}

.post:first-child {
    margin-top: 200px;
}

.horizon-container{
    position: relative;
    overflow: hidden;
    width: 54vw;
    height: 27vw;
    background-size: cover;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.5s ease;
}

.horizon-container > .decoration {
    position: absolute;
    background-color: rgb(255,185,1);;
    height: 108vw;
    width: 64vw;
    transform: rotate(45deg) translateX(108vw) translateY(0vw);;
    transition: all 0.5s ease;
}

.horizon-container:hover > .decoration {
    transform: rotate(45deg) translateX(0vw) translateY(0vw);
}

.horizon-container > .text {
    position: absolute;
    text-align: center;
    transition: all 0.5s ease;
    opacity: 0;
    font-size: 26px;
    font-family: 'Rubik';
    color: #fff;
    letter-spacing: 0px;
    line-height: 40px;
}

.horizon-container:hover > .text {
    opacity: 1;
}

.square-container{
    position: relative;
    overflow: hidden;
    width: 27vw;
    height: 27vw;
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.5s ease;
}

.square-container > .decoration {
    position: absolute;
    background-color: rgb(255,185,1);;
    height: 54vw;
    width: 54vw;
    transform: rotate(45deg) translateX(54vw) translateY(0vw);
    transition: all 0.5s ease;
}

.square-container:hover > .decoration {
    transform: rotate(45deg) translateX(0vw) translateY(0vw);
}

.square-container:hover, .horizon-container:hover {
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
}

.square-container > .text {
    position: absolute;
    text-align: center;
    transition: all 0.5s ease;
    opacity: 0;
    font-size: 28px;
    font-family: 'Rubik';
    color: #fff;
    letter-spacing: 0px;
    line-height: 40px;
}

.square-container:hover > .text {
    opacity: 1;
}

.name-wrapper {
    margin-left: 20px;
}